body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSk3YpDUx64k8olczOr_JWQMhpFDEhQ7w4kh-56ynyckkQV5aFw7kiHsN0TvTUbvoBrPpE&usqp=CAU");
  background-size :cover;
  height :100vh;
  text-align :center;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
